<div class="row">
    <span class="col-md-12 mb-10">Enter a password (atleast 8 charecters)</span>
    <div class="col-md-6">
        <input type="password" [(ngModel)]="password" class="col-md-12">
    </div>
    <div class="col-md-6">
        <button class="btn btn-success col-md-12" (click)="generateKey()">Generate
            <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
        </button>
    </div>
</div>
<div *ngIf="isGenerating" class="row loading mb-10">
    <i class="fa fa-circle-o-notch fa-spin fa-2x mb-10" aria-hidden="true"></i>
    <div>Generating..</div>
</div>
<div *ngIf="isGenerated" class="row">
    <br>
    <div class="col-md-12 text-green mb-20">Your ethereum keyfile has been successfully generated! Access it from below</div>
    <br class="big">
    <div class="col-md-6 text-black mb-10">
        <i class="fa fa-hand-o-right" aria-hidden="true"></i> Copy the keyfile to keystore to start using.
    </div>
    <div class="col-md-6 mb-20">
        <a [href]="keyFile" download="{{fileName}}" class="btn btn-success col-md-12">
        Get key file 
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col-md-12 text-black mb-10">
        <i class="fa fa-hand-o-right" aria-hidden="true"></i> Address of the account geneated.
    </div>
    <div class="col-md-12 mb-10">
        <label>Address : </label>
        <div class="well">
            {{address}}
        </div>
    </div>
    <div class="col-md-12 text-black mb-10">
        <i class="fa fa-hand-o-right" aria-hidden="true"></i> Private key used to create account. DO NOT SHARE WITH ANYONE!!
    </div>
    <div class="col-md-12 mb-20">
        <label>Private key : </label>
        <div class="well">
            {{privateKey}}
        </div>
    </div>
    <div>
        <div class="col-md-6 message">
            <i class="fa fa-hand-o-right" aria-hidden="true"></i> Print the QR code for easy access.
        </div>
        <div class="col-md-3">
            <label>Address</label>
            <div class="well">
                <qr-code [data]="address" [size]="220"></qr-code>
            </div>
        </div>
        <div class="col-md-3">
            <label>Private key</label>
            <div class="well">
                <qr-code [data]="privateKey" [size]="220"></qr-code>
            </div>
        </div>
    </div>
</div>